version: "3.7"
services:
    postgresql:
        container_name: postgresql
        image: postgres:12.2
        restart: always
        expose:
            - 5432
        environment: 
            POSTGRES_DB: demo
            POSTGRES_USER: root
            POSTGRES_PASSWORD: 1qaz@WSX
        volumes:
            - ./migration/init.sql:/docker-entrypoint-initdb.d/init.sql
    demo:
        container_name: demo
        image: test/demo:latest
        restart: always
        build: .
        ports:
            - 8080:8080
        environment:
            DB_Dialect: postgres
            DB_Host: postgresql
            DB_Port: 5432
            DB_Name: demo
            DB_User: root
            DB_Password: 1qaz@WSX
        depends_on:
            - postgresql
    